body {
    margin: 0px;
}


/* Si la pantalla esta en lo mas chico  */
@media (max-width: 641px) {

    .margin-top-image {
        margin-top:0%;
    }

    .heigth-image {
        height:60%;
        width: 60%;
    }

    .bottom-movil {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
}


/* Si la pantalla esta en lo mediano */
@media (max-width: 768px) {
 

    .bottom-movil {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
}

/* Si la pantalla esta en lo mas grande  */
@media (min-width: 768px) {

    .heigth-image {
        height: 60%;
    }

    .margin-top-image {
        margin-top: 5%;
    }
    .bottom-movil {
        display: flex;
        justify-content: space-around;
    }
}
